<tr class = "tr__food-result-entry" onclick="displayMore(this)" data-description="[description]" data-restaurant="[restaurant]" data-img-path ='[img_path]'>
    <th scope = "row">[index]</th>
    <td>
        <p class = 'p__search-result-text mb-0'>
            <strong>Restaurant: </strong>[restaurant]
        </p>
        <p class = 'p__search-result-text mt-0'>
            <strong>Description: </strong>[description]
        </p>
    </td>
    <td class = 'text-center'>
        <img src = "[img_path]" alt = "img for [description]" 
        class = "img img__search-result">
    </td>
</tr>