<tr class = "tr__food-result-entry" onclick="displayMore(this)" data-description="[description]" data-restaurant="[restaurant]" data-img-path ='[img_path]' data-fdc-id="[fdc_id]">
    <th scope = "row">[index]</th>
    <td>
        <p>
            Brand Owner: [brand_owner]
        </p>
        <p>
            Description: [description]
        </p>
        <p>
            fdc id: [fdc_id]
        </p>
    </td>
    <td>
            <img src = "[img_path]" alt = "img for [description]" class = "img-thumbnail">
    </td>
</tr>