<div 
style = "display:none"
id = 'div__hidden-saved-entry' class = 'border rounded border-light m-3 p-3'>
    <div class = 'row'>
        <div class = 'col-8'>
            <p>
                Restaurant: <span class = 'span__restaurant'></span>
            </p>
            <p>
                Description: <span class = "span__description"></span>
            </p>
            <p>
                Servings: <span class = 'span__serving-size'></span> <span class = "span__serving-size-unit"></span>
            </p>
            <p>
                Kilocalories: <span class = 'span__kilocalories'></span>
            </p>
        </div>
        <div class = 'col-4'>
            <img class = "img img-thumbnail img__food-img">
        </div>
    </div>
</div>