<div class = 'div__popup-data' id = '[id]'>
    <p>
        Portion Gram Weight:
        <span class = 'span__portion-gram-weight'>[portion_gram_weight] g</span>
    </p>
    <p>
        Carbohydrates: 
        <span class = 'span__carbohydrate'>[carbohydrate_amount]</span>
        <span class = 'span__carbohydrate-unit'> [carbohydrate_unit]</span>
    </p>
    <p>
        Fat: 
        <span class = 'span__fat'>[fat_amount]</span>
        <span class = 'span__fat-unit'> [fat_unit]</span>
    </p>
    <p>
        Protein:
        <span class = 'span__protein'>[protein_amount]</span>
        <span class = 'span__protein-unit'> [protein_unit]</span>
    </p>
    <p>
        KCals:
        <span class = 'span__kcals'>[kilocalorie_amount]</span>
    </p>
</div>